php_flag output_buffering on
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^temp/ - [F,L]
RewriteRule ^vendor/ - [F,L]
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
    RewriteRule ^temp/ - [F,L]
    RewriteRule ^vendor/ - [F,L]
</IfModule>